:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
  --backgound-color: #303030;
  --primary-color:#c0c0c0;

  color: var(--primary-color);
  background-color: var(--backgound-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.Do
{
  color: blueviolet;
}

h1
{
  text-align: center;
}

/*

width: calc(100% - 2px);
  height: calc(90% - 5px);
  left: 50%;
*/

.it-container
{
  display:grid;
  justify-content: center;
}

.res-msg
{
  font-family: inherit;
  font-size: 25pt;
  line-height: 0.9em;
  text-align: center;
  white-space:pre;
}

input
{
  display:inline-block;

  width: 86vw;
  height: 80px;

  font: inherit;
  font-size: 36pt;
  
  outline: 0 !important;
  
  border-radius: 25px;
  border-color: var(--backgound-color);
  background-color: var(--primary-color);
}

input:active :hover :focus
{
  outline: inherit;

  outline-offset: 0;
}


