:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
  --backgound-color: #303030;
  --primary-color:#c0c0c0;

  color: var(--primary-color);
  background-color: var(--backgound-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.Do
{
  color: blueviolet;
}

h1
{
  text-align: center;
}

input 
{
  width: calc(100% - 2px);
  height: calc(90% - 5px);

  font: inherit;
  font-size: 36pt;
  border: transparent;

  outline: 0 !important;

  border-color: var(--primary-color);
  background-color: var(--backgound-color);
}

input:active :hover :focus
{
  outline: inherit;



  outline-offset: 0;
  border: 0pc;
}


